@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

@*<address>
    <br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>*@

<address>
    <strong>Do you really want to contact the Badger? </strong> <a href="mailto:isaac@zais.io">isaac@zais.io</a><br />
</address>
