@model CfbFlairitorWeb.Models.FlairitorText

@{
	ViewData["Title"] = "Index";
}

<h2>r/CFB Flairitor</h2>
<h4>u/ArtificialBadger</h4>
<hr />
@using (Html.BeginForm("Update", "Home", FormMethod.Post))
{
	<div class="wrapper">
			<p>
				@Html.TextBoxFor(m => m.Text, new { @id = "PlainTextBox", @class = "padded"})
				<br />
				<button class="updateBtn" type="submit">Update</button>
				<br />
				@Html.DisplayTextFor(m => m.FlairedText)
			</p>
	</div>

	<style type="text/css">
		.updateBtn {
			
			background: #777;
			color: #fff;
			display: inline-block;
			padding: 6px 12px 6px 12px;
			margin: 10px;
			text-decoration: none;
		}
		.padded {
			margin: 5px;
		}
		.wrapper
		{
			text-align: center;
		}
	</style>

}
